<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>eVoting System | Student Council</title>

	<link rel="stylesheet" href="{% static "css/bootstrap.css" %} ">

	<script src="{% static "js/bootstrap.js" %}"></script>
</head>
<!-- Nav bar begins -->
<body>
	{% include 'navbar.html' %}
	<!-- Nav bar ends -->
	<div class="row">
		<div class="col-lg-6" style="text-align:center;">
	        <div class="bs-component">
	        	<img src="{% static "images/nitw.png" %}" alt="National Institute of Technology - Warangal">
	        </div>
	      </div>
		<div class="col-lg-6">
			<h1>Welcome to Student Council Elections</h1>
			<div class="bs-component">
				<blockquote>
					<p>Voting is the most precious right of every citizen, and we have a moral obligation to ensure the integrity of our voting process.</p>
					<small>Hillary Clinton</small>
				</blockquote>
			</div>
			{% if not user.is_authenticated %}
			<div class="bs-component">
				<a href="/login" class="btn btn-primary">Login</a>

				<a href="/signup" class="btn btn-success">Register</a>
			</div>
			{% else %}
			<div class="bs-component">
				<div class="well">
					Welcome to the 2015 Student council Elections.
				</div>
			</div>
			{% endif %}
		</div>
    </div>
</body>
</html>