{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %} ">
<script type="text/javascript" src="{%static "js/jquery.min.js"%}"></script>
<script src="{% static "js/bootstrap.js" %}"></script> <!-- JavaScript -->
{% include 'navbar.html' %}
{%if messages%}
{% for message in messages%}
  <div class="container">
    <div class="alert alert-{% if message.tags == 'info'%}info{%elif message.tags == 'error'%}danger{%else%}{{message.tags}}{%endif%} fade in" style="text-align:center;">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message|safe}}
    </div>
</div>
{% endfor %}
{%endif%}

<form class="form-horizontal" role="form" action="" method="post">
<fieldset>

<!-- Form Name -->
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">Username</label>  
  <div class="col-md-4">
  <input id="username" name="username" type="text" placeholder="Enter your username here" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  {% csrf_token %}
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter password" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success">Login</button>
    <a href="/signup" id="alreadylogin" name="login" class="btn btn-primary">Don't have an ID Yet ? Signup !</a>
  </div>
</div>

</fieldset>
</form>
</html>
