<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %} ">
<script src="{% static "js/bootstrap.js" %}"></script> <!-- JavaScript -->
<form class="form-horizontal" role="form" action="" method="post">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>
{% if checking == 1 %}
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>{{message}}</strong>
</div>
{% endif %}
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">Username</label>  
  <div class="col-md-4">
  <input id="username" name="username" type="text" placeholder="Enter your username here" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  {% csrf_token %}
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter password" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success">Login</button>
  </div>
</div>

</fieldset>
</form>
</html>
