{% extends "layout/header.html" %}
{% block content %}
<form class="form-horizontal" role="form" action="" method="post">
<fieldset>

<!-- Form Name -->
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">Username</label>  
  <div class="col-md-4">
  <input id="username" name="username" type="text" placeholder="Enter your username here" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  {% csrf_token %}
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter password" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success">Login</button>
    <a href="/signup" id="alreadylogin" name="login" class="btn btn-primary">Don't have an ID Yet ? Signup !</a>
  </div>
</div>

</fieldset>
</form>
{% endblock %}